
:root {
  --primary: #1c566f;
  --secondary: #8a7d89;

}

body {
  margin: 0;
  padding: 20px;
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}



header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}



/*for home.js */
/* Centering the h1 */
h1 {
  text-align: center;
  padding-top: 50px;
}

p {
  margin-bottom: 20px;
}

/* Styling the projects */
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

ul li {
  flex: 1;
}

/* Adjusting the width of the anchor tags */
ul li a {
  display: block;
  width: 100%;
}
